body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#activity {
  border: 1px solid #999;
  width: 300px;
  height: 200px;
  overflow: auto;
}
